
.sidebar-overall{
    background-color: #21222cff;
    width: 240px;
    display: flex;
    height: calc(100vh - 20px);
    flex-direction: column;
    margin-right: 2px;
    justify-content: left;
}
.sidebar-container{
    display:block;
}
.top-comp{
    position: relative;
    display: flex;
    justify-content: left;
    width: 188px;
    background-color: rgba(0, 0, 0, 0);
}
.arrow-icon{
    background-color: rgba(240, 248, 255, 0);
    float: left;
}
.top-comp-text{
    padding-top: 8px;
}
.more-icon{
    float: right;
    padding-right: 10px;
}

.new-file-icon{
    float: right;
    padding-top: 10px;
}
.explorer{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(63, 65, 84);
}
.explorer-comp-text{
    padding-top: 10px;
    padding-left: 32px;
}


